@import '../utils/components.css';
@import '../utils/reset.css';
@import '../page-content/page-content.css';
@import '../page-content/header/header.css';
@import '../page-content/home/home.css';
@import '../page-content/card/card.css';
@import '../page-content/share/share.css';
@import '../page-content/capabilities/capabalities.css';
@import '../page-content/security/security.css';
@import '../page-content/work/work.css';
@import '../page-content/quick-commands/quick-commands.css';
@import '../page-content/we-better/we-better.css';
@import '../page-content/share2/share2.css';
@import '../page-content/stories/stories.css';
@import '../page-content/no-collections/no-collections.css';
@import '../page-content/discover/discover.css';
@import '../page-content/FAQ/FAQ.css';
@import '../page-content/unlimited/unlimited.css';
@import '../page-content/footer/footer.css';

html {
    scroll-behavior: smooth;
}

html *{
    /* border: 1px solid red; */
    //box-sizing: border-box;
    font-weight: 700;
    font-family: Poppins;
}

body{
    margin: 0;
    background-color: #fffcf5;
}

body>section{
    margin-top: 120px;
}

section:target{
    scroll-margin-top: 80px;
}

@media screen and (max-width: 900px) {
    .page-item{
        margin-top: 60px;
    }

    .home{
        padding: 0 10px;
    }

    .card{
        gap: 20px
    }

    .share{
        &__text{
            margin-left: 30px;
        }
    }

    .capabilities{
        padding: 0px 35px;
    }

    .security__content{
        margin-top: 60px;
    }
}
@media screen and (max-width: 600px) {
    .menu{
        display: flex;
        align-self: flex-start;
    }

    .main-title{
        font-size: 35px;
    }

    .card{
        flex-wrap: wrap;
    }

    .share{
        &__text{
            margin-left: 0;
        }
        &__img{
            display: none;
        }
    }

    .capabilities{
        &__img{
            display: none;
        }

        &__list{
            padding: 20px 0;
        }
    }
    .security{
        &__text{
            margin-left: 0;
        }

        &__img{
            display: none;
        }
    }

    .work{
        &__img{
            display: none;
        }
    }
}
    

@media screen and (max-width: 400px) {
    .main-title{
        font-size: 24px;
    }
    
    .home{
        &__img{
            display: none;
        }
    }
}




