.home{
    display: flex;
    margin-top: 80px;
    max-height: 800px;
    justify-content: center;
    align-items: center;
    background-image: url("../images/headerBack.png");
    background-color: #F7E6CC;
    box-shadow: 0 5px 26px #DD8762;
    border-bottom-right-radius: 10%; 
    border-bottom-left-radius: 10%; 

    &__info, .addInfo{
        max-width: 450px;
        font-size: 14px;
        color: #455A64;
        margin: 20px;
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
    }
}

