.card{
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-top: 60px;

    &__content{
        max-width: 360px;
        padding: 36px;
        text-align: center;
        border-radius: 44px;
        background: linear-gradient(#F5F2EB, #F7E6CB);
        box-shadow: 5px 5px 13px #DD8762;

        & .miniImg {
            height: 76px;
            width: 76px;
        }
    }
}

