.footer{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 70px 20px 40px;

    &__text{
        max-width: 300px;
    }
    &__content{
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: repeat(4, 0.7fr);
    }

    &__section-header{
        margin: 0;
        color: #000;
    }

    &__link{
        font-weight: 400;
    }

    &__buttons{
        margin-top: 10px;
    }

    &-bottom{
        background: linear-gradient(90.14deg, #F7E6CB 0%, #F5F2EA 99.44%);
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__links{
            display: grid;
            grid-template-columns: repeat(6, 26px);
            grid-gap: 18px;
        }
    }
}