.share{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    &__text{
        max-width: 450px;
        margin-left: 80px;
    }

    &__img{
        max-width: 50%;
        height: auto;
    }
}